/**
 * Global Styles
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

/* Remove default button styles */
button {
  font-family: inherit;
}

.my-text-editor {
  border-radius: 16px;
}

.my-text-editor .ql-toolbar {
  border-radius: 16px 16px 0 0;
}

.my-text-editor .ql-container {
  border-radius: 0 0 16px 16px;
  min-height: 100px;
}

::root {
  --header-height: 64px;
  --footer-height: 16px;
}
